*{margin:0;padding:0;}
body{background: #434343;overflow: hidden;}
.balloon{
    position: absolute;
    left:0;
    top:0;
    margin:auto;
    width:160px;
    height:160px;
    border-radius:160px 160px 64px 160px;
    transform:rotate(45deg);
    background:#faf9f9;
    box-shadow:-8px -8px 80px -8px pink inset,48px 48px 24px rgba(220,150,150,0.2);   
}
.balloon:after{
    content:"";
    display:block;
    position: absolute;
    bottom:0px;
    right:0px;
    width: 0px;
    height:0px;
    border:0px solid #dbbdbd;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-left-color:transparent;
    transform:rotate(45deg);
    border-radius:16px;
}
#wrap{
    width:200px;
    height:200px;
    background:red;
}